<template>
  <form @submit.prevent="addTodo">
    <p class="" v-if="errors">{{ errors }}</p>
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <label for="titre" class="form-label inline-block mb-2 text-gray-700"
        >Titre</label>
        <input
            type="text"
            v-model="todo.title"
            class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
            id="titre"
            placeholder="Titre"
        />
      </div>
    </div>
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <label for="hours" class="form-label inline-block mb-2 text-gray-700"
        >Nombre d'heures</label>
        <input
            type="number"
            v-model="todo.hours"
            class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
            id="hours"
            placeholder="Nombre d'heures"
        />
      </div>
    </div>
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <label for="hours" class="form-label inline-block mb-2 text-gray-700"
        >Responsable</label>
        <select v-model="todo.responsable"
                 class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
          <option value="" selected>Sélectionnez un responsable</option>
          <option v-for="responsable in responsables" :key="responsable.id" :value="responsable.name">{{ responsable.name }}</option>
        </select>
      </div>
    </div>
    <button
        type="submit"
        data-mdb-ripple="true"
        data-mdb-ripple-color="light"
        class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
    >{{ editTodo ? "Modifier" : "Ajouter"}}</button>
  </form>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import responsablesData from "@/helpers/responsables";
export default {
  name: "AddTodo",
  props: {
    todos: {
      required: true,
    },
    editTodo: {
      required: false
    }
  },
  computed: {
    responsables() {
      return responsablesData
    }
  },
  watch: {
    editTodo(newValue) {
      if (newValue) {
        let todo = this.todos.find(t => t.id === newValue)
        this.todo.title = todo.title
        this.todo.hours = todo.hours
        this.todo.responsable = todo.responsable
        this.todo.state = todo.state
      }
    }
  },
  data() {
    return {
      todo: {
        title: null,
        hours: null,
        responsable: "",
        state: 0,
      },
      errors: null,
    };
  },
  emits: ["add"],
  methods: {
    checkEmpty() {
      this.errors = null;
      if (!this.todo.title || (!this.todo.hours && this.todo.hours !== 0) || !this.todo.responsable) {
        this.errors = "Un des champs est vide.";
      }
      return !this.errors;
    },
    checkHours() {
      if (isNaN(this.todo.hours) || this.todo.hours < 0) {
        this.errors = "L'heure doit être un nombre.";
      }
      return !this.errors;
    },
    checkResponsable() {
      let numberTaches = 0;
      let numberHours = 0;
      this.todos.forEach((t) => {
        if (t.responsable === this.todo.responsable && t.state === 1) {
          numberTaches++;
          numberHours += t.hours;
        }
      });
      if(numberHours >= 10 || numberTaches >= 3){
        this.errors = "Le responsable a trop de taches ou d'heures!!";
      }
      return !this.errors;
    },
    check() {
      return !(!this.checkEmpty() || !this.checkHours() || !this.checkResponsable())
    },
    addTodo: function () {
      if (!this.check()) {
        return;
      }
      if(this.editTodo){
        this.todo.id = this.editTodo;
        this.$emit("update", this.todo);
      } else {
        this.todo.id = uuidv4();
        this.$emit("add", this.todo);
      }
      this.todo = {
        title: null,
        hours: null,
        responsable: null,
        state: 0,
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
